:root {
	--primary-theme: #000000;
	--secondary-color: #f2f0f0;

	--image-background-color: gray;
}

body {
	font-family: cursive;
	margin: 0%;
	background-color: var(--secondary-color);
}

a {
	text-decoration: none;
	color: var(--primary-theme);
}

h3 {
	margin-bottom: 0%;
}

ul {
	padding-left: 0%;
}

ol {
	padding-left: 0%;
}

li {
	list-style-type: none;
}

img {
	text-align: center;
}

summary {
	text-align: center;
	border: 4px solid transparent;
	outline: none;

	/* change border color when clicked */
	&:focus {
		border-color: black;
	}

	padding: 1rem;
	display: block;
	background: var(--primary-theme);
	color: white;
	padding-left: 2.2rem;
	position: relative;

	cursor: pointer;
}

summary:before {
	content: "";

	/* design for the triangular arrow */
	border-width: 0.4rem;
	border-style: solid;
	border-color: transparent transparent transparent #fff;

	position: absolute;
	top: 1.3rem;
	left: 1rem;
}
details {
	margin-top: 5px;
}

details[open] > div {
	margin: 5% 15%;
}

/* Turn the triangle to down when the details is open */
details[open] > summary:before {
	transform: rotate(90deg);
}

details li {
	list-style-type: square;
}

address {
	padding: 0% 10%;
	width: 80%;
	line-height: 250%;
}

.bold {
	font-weight: bold;
}

.container {
	margin-bottom: 15%;
}

.icons {
	color: var(--primary-theme);
	margin: 0% 1%;
	font-size: 130%;
}

.pl {
	padding-left: 7%;
}

.sections {
	margin: 20% 5%;
}

.list-style-type-square > li {
	list-style-type: square;
}

.intro-img-section {
	/* variable */
	--gradient-percent: 70%;

	display: flex;
	justify-content: center;

	background: linear-gradient(
		to bottom,
		#000000 0%,
		#000000 var(--gradient-percent),
		var(--secondary-color) var(--gradient-percent),
		var(--secondary-color) 100%
	);

	padding: 0% 5%;
}

.display-image-container {
	margin: 10% 10% 0% 10%;
	width: 80%;

	display: flex;
	overflow: hidden;

	border-radius: 50%;
	border: 4px solid #ffffff;

	box-shadow: 1px 1px 1px 1px;
}
.display-image-container > img {
	width: 100%;
	aspect-ratio: 1/1;

	background-color: var(--image-background-color);

	/* transition back smoothly to original size on mouse moved over */
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
}

.display-img {
	width: 100%;
}

.display-img:hover {
	scale: 1.2;
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
}

.text-center {
	text-align: center;
}

.intro-paragraph {
	margin: 10% 6%;
}

.tech-grid-container {
	margin-top: 5%;
}

.tech-grid-container li {
	padding: 1% 0%;
}

.tech-grid-item {
	margin: 0% 5%;
	padding: 0% 5%;
	background-color: var(--secondary-color);
}

.education-section li {
	padding: 0.5% 0%;
}

.degree {
	display: block;
}
.school {
	display: block;
	font-weight: 500;
}

.schooling-period {
	color: #ffffff;
	font-size: 75%;
}

.education-section details[open] > div {
	margin: 5%;
}

.education-details > div {
	margin: 5% 0%;
}

.education-item {
	text-align: center;
	border: 4px solid transparent;
	outline: none;
	padding: 1rem;
	display: block;
	background: var(--primary-theme);
	color: white;
}

/* Margin top in details tag within education section is causing unnecessary space at the top so removed it */
.education-section li details {
	margin-top: 0%;
}

.contact-me-section li {
	margin: 2% 0%;
}

.font-awesome-icons-svg {
	width: 25px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
