/* Small devices (portrait tablets and large phones, 600px and up) */

.display-image-container {
	width: 46%;
	margin: 7% 27% 0% 27%;
}

.intro-paragraph {
	margin: 5% 6%;
}

.education-section li {
	padding: 0.25% 0%;
}

.pl {
	padding-left: 10%;
}

address {
	padding: 0% 30%;
	width: 40%;
}
