/* Large devices (laptops/desktops, 992px and up) */

.display-image-container {
	width: 26%;
	margin: 5% 37% 0% 37%;
}

.intro-paragraph {
	margin: 2% 25%;
}

.sections {
	margin: 17% 17%;
}

.education-li-container {
	display: grid;
	grid-template-columns: 80% 20%;
}

address {
	padding: 0% 20% 0% 40%;
	width: 40%;
}
